@charset "utf-8";

@media(min-width:980px) and (max-width:1299px){
    #slider{ width: 100%; height: auto; overflow: hidden; position: sticky;
        top: 0px;
    }
    #slider video{ width: 100%; height: auto; margin-top: -135px;
    }
    #slider p{ position: absolute; font-size: 70px; bottom: 135px; left: 40px; color: #fff;
        font-family: 'Pangolin', cursive;
    }





    section{ position: relative; width: 100%;  background: #f6f5f1; margin-top: -105px;
    }


    section #sewrapone{ width: 100%; height: auto; background: #f6f5f1; display: flex; 
        flex-wrap: wrap;
    }


    section #articlewrap{ width: calc(100% - 320px); height: auto;
        display: flex; flex-direction: column;
    }

    #articlewrap #artione{ width: 100%; height: 230px; border-style: none solid solid none; 
        border-width: 1px; border-color: #999; display: flex; flex-wrap: wrap; 
        position: relative;
    }
    #articlewrap #artione::after{content: ""; width: 100%; height: 0%; background: #111;
        position: absolute; bottom: 0; left: 0; transition: height 0.3s ease-in-out;
    }
    #articlewrap #artione:hover::after{height: 100%;}
    #articlewrap #artione:hover p{color: #fff;}

    #artione .inner{
        width: 84%; height: 100%;
    }

    #artione .inner p:first-of-type{height: 50%; font-size: 15px; padding: 40px 0 0 50px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif; 
        font-weight: 500; color: #999; position: relative;
    z-index: 3;}
    #artione .inner p:last-of-type{height: 50%; font-size: 45px; padding: 10px 0 0 50px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 600;position: relative; z-index: 3; 
    }
    #artione .out{width: 16%; height: 100%; padding: 150px 0 0 0px; font-weight: lighter;}
    #artione .out img{width: 70px; position: relative; z-index: 3;}

    #articlewrap #artitwo{ width: 100%; height: auto; border-style: none solid solid none; 
        border-width: 1px; border-color: #999; display: flex; flex-wrap: wrap;
    }
    #artitwo .imgbox{ width: 100%; height: 535px; }
    #artitwo .imgbox img{ width: 100%; height: 100%; }
    #artitwo .pbox{ width: 100%; height: 185px;
        padding: 30px;
    }
    #artitwo .pbox p{font-family: 'Noto Serif KR', serif;  
        line-height: 30px;
    }
    
    #sewrapone #asione{ width: 320px; height: auto; border-bottom: 1px solid #999;
        padding: 295px 0 0 70px;
    }
    #sewrapone #asione img{width: 180px; animation: rotate normal infinite 20s linear;
    }
    @keyframes rotate{
        to{transform: rotate(360deg);}
    }


    section #banner{
        width: 100%; height: 355px; border-bottom: 1px solid #999; 
        background-image: url(../img/main/wash_.png); background-position: center;
        background-size: cover; display: flex; align-items: center; justify-content: center;
        padding: 50px;
    }
    section #banner p{ font-family: 'Pangolin', cursive; font-size: 60px;}


    #sewraptwo{width: 100%; height: 460px; display: flex;}

    #sewraptwo #asitwo{border-bottom: 1px solid #999; width: 40%; 
        display: flex;
    }
    #asitwo .asitwop{width: 80%; display: flex; flex-wrap: wrap;}
    #asitwo .asitwop p:first-of-type{width: 60%; height: 60%; font-size: 15px; 
        padding: 50px 0 0 40px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 200; color: #999;}
    #asitwo .asitwop p:last-of-type{width: 60%; height: 40%; font-size: 45px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 600; padding: 5% 0 0 40px;
    }
    #asitwo .asitwoimg{width: 40%; padding: 60px 0 0 20%;}
    #asitwo .asitwoimg img{ width: 45px; height: auto; position: relative;
    }
    

    #sewraptwo #articlewraptwo{width: 60%; display: flex; flex-wrap: wrap;}

    #articlewraptwo #artithr{
        width: 100%; height: 50%; border-style: none none solid solid; border-width: 1px; 
        border-color: #999;
    }
    #artithr p:first-of-type{width: 100%; height: 50%; font-size: 15px; 
        padding: 40px 0 0 50px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 200; color: #999;}
    #artithr p:last-of-type{width: 100%; height: 50%; font-size: 45px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 600; padding: 10px 0 0 50px;
    }
    
    #articlewraptwo #artifour{
        width: 100%; height: 50%; border-style: none none solid solid; border-width: 1px; 
        border-color: #999;
    }
    #artifour p:first-of-type{width: 100%; height: 50%; font-size: 15px; 
        padding: 40px 0 0 50px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 200; color: #999;}
    #artifour p:last-of-type{width: 100%; height: 50%; font-size: 45px;
        font-family: 'Noto Serif KR', serif; font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 600; padding: 10px 0 0 50px;
    }


    #bannertwo{
        width: 100%; height: 435px; border-bottom: 1px solid #999;
    }
    #slidewrap {width: 90%; height: 335px; margin: 6% auto; position: relative; 
        overflow:hidden;}
    #slidewrap .slide {width: 200%; display: flex; }
    #slidewrap .slide li {width: 25%; height: 100%; text-align: center; }
    #slidewrap .slide li img {width: 100%; height: 100%; padding: 30px;}
    #slidewrap span {position: absolute; top:55%; display: block; font-size: 38px; color:#444; 
        line-height: 40px; cursor: pointer; height: 50px; 
        transform: translateY(-50%); }
    #slidewrap span:hover {opacity: 0.7;}

    #slidewrap .prev {left:0; border-radius: 0 10px 10px 0px; padding: 0 8px 0 2px;}
    #slidewrap .next {right:0; border-radius: 10px 0px 0px 10px; padding: 0 2px 0 8px;}
}    